.input {
	color: var(--black);
	padding: 7px 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: none;
	background: var(--white);
	outline-color: var(--primary);
	font-size: 16px;
	line-height: 22px;
	font-family: var(--font-family);
}

.input::placeholder {
	color: var(--gray);
}