.rating {
  display: flex;
  align-items: center;
}

.rating__item {
  padding: 0 5px 0 0;
}

.star {
  display: block;
}

.star:last-child {
  padding: 0;
}

.filled {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}