html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--font-family);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #4623D1;
	--red: #DE0000;
	--red-light: #FC836D;
	--green: #007B48;
	--green-light: #C2F2DE;
	--green-dark: #00492B;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--font-family: "Noto Sans", sans-serif;
}
