html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	font-family: var(--font-family);
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #4623d1;
	--red: #DE0000;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--gray-light: #ebebeb;
	--font-family: 'Noto Sans', sans-serif;
}